{% extends 'loan/base.html' %}
{% block content %}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                 {% include 'loan/nav.html' %}

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h1 class="m-0 font-weight-bold text-primary">Search Results</h1>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    {% for userloan in search_results %}
                                        <div>
                                            <h6 class="mb-3">
                                                User: <a class="mr-2" href="{% url 'user-loans' userloan.owner.username %}">{{ userloan.owner }}</a>
                                            </h6>
                                            <article class="media content-section">
                                                <div class="media-body">
                                                    <div class="article-metadata">
                                                        <p>
                                                            {{userloan.description}} on                                     <!-- The date is formatted cos we don;t want the time to display -->
                                                            <small class="text-muted">{{ userloan.start_date|date:'F d, Y'}}</small>
                                                        </p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    
                                        {% empty %}
                                            <div>
                                                <h3>Oops! Username doesn't exist. </h3>
                                            </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->

                    </div>

                    <!-- Content Row -->
                    

                </div>
                <!-- /.container-fluid -->
                {% include "loan/pagination.html" with page=loans %}

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'loan/footer.html' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


{% endblock content %}

   